
.jumbotron {
  padding: 0.5em 0.6em;
  background-color: rgba(0, 0, 0, 0.5);
h1 {
  font-size: 2em;
  color:#f6f8f9;
}
p {
  font-size: 1.2em;
.btn {
  padding: 0.5em;
}
}
}
.jumbotron h1{
  color:#f6f8f9;
}
h1{
  font-family: 'Special Elite', cursive;
  font-size:18px;
}
