p{
  color:white !important;
}
.card{
  overflow: hidden;
  min-height: 300px;
  max-height: 100%;
  border-radius: 5px;
  position: relative;
}
.card.forcast{
  /* background: linear-gradient(to right, rgb(65, 41, 90), rgb(47, 7, 67)); */
  background: linear-gradient(to right, rgb(195, 20, 50), rgb(36, 11, 54));
}
