<app-header-nav  (messageEvent)="receiveMessage($event)" ></app-header-nav>
<div  class="container card" style="background: url(../../../assets/images/spots_background_light_blur_68629_1920x1080.jpg);box-shadow: 9px 7px 40px -6px rgba(0, 0, 0, 0.25);">
  <div style="display: flex;justify-content: space-around ;      flex-wrap: wrap;  padding-top: 40px;" >
    <div>
      <img src="../../../assets/images/Marker_64px.png">
      <p>Weather Forcast in</p>
    </div>
    <div>
      <p>Mumbai,In</p>
    </div>
    <div>
      <p>17:33PM</p>
    </div>
  </div>
  <div style="display: flex;justify-content: space-around ;    flex-wrap: wrap;" >
    <div>
      <p><span> <img src="../../../assets/images/Atmospheric%20Pressure-44%20(1).png"></span> Pressure:23.55 inHG</p>
      <p><span> <img src="../../../assets/images/Humidity_44px.png"></span>Humidity</p>
      <p><span> <img src="../../../assets/images/Wind%20Speed%2098-102_44px.png"></span>Wind Speed</p>
    </div>
    <div style="border: 1px solid #fff;height: 160px;"></div>
    <div>
      <p>Image</p>
      <p>Sky is dear</p>
      <p>Last update at</p>
    </div>
    <div style="border: 1px solid  #fff;height: 160px;"></div>
    <div>
      <p>Min temp</p>
      <p>11 &deg;C <span> <img src="../../../assets/images/Thermometer-44.png"></span></p>
      <p style="border: 1px solid  #fff"></p>
      <p>Min temp</p>
      <p>11 &deg;C <span> <img src="../../../assets/images/Thermometer-44.png"></span></p>
    </div>
  </div>



  <div class="row col-sm-12  d-flex" style="justify-content: space-evenly;padding-bottom: 20px;">
<div class="">
  <p>32 &deg;C </p>
  <p>Thusrday 9TH</p>
</div>
    <div class="" style="border: 1px solid #fff;height: 70px;"></div>
    <div class="row col-sm-8 d-flex" style="justify-content: space-evenly">
      <div *ngFor="let weather of forecast" >
        <p>{{weather.dt_txt| date : 'EEEE '}}</p>
        <img height=100px; width=100px src="https://openweathermap.org/img/w/{{weather.weather[0].icon}}.png" class='img img-responsive center-block'>

        <p>{{weather.main.temp}} &deg;C</p>
      </div>
    </div>
  </div>
</div>

